body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.main-container {
    width: 1440px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 0;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

header {
    margin-bottom: 17px;
}

.button {
    border: none;
    margin-top: 45px;
    display: block;
    padding: 20px 50px;
    background-color: #fb565a;
    color: white;
    box-sizing: border-box;
    width: 240px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: #e37376;
}

.main-navigation {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation a:hover {
    color: red;
}

.site-navigation {
    width: 440px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 160px;
}

.basket {
    position: relative;
    text-align: right;
    width: 120px;
}

.basket::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 7px;
    background-image: url("img/cart-icon.png");
    background-repeat: no-repeat;
}

.header-and-promo {
    padding-top: 50px;
    background-color: #eeeeee;
    padding-left: 140px;
    padding-right: 140px;
}

.promo {
    margin-top: 0px;
    margin-bottom: 80px;
    background-color: #eeeeee;
    min-height: 410px;
    position: relative;
}

/*ЁБАНЫЙ СЛАЙДЕР!!!*/

.slider-controls {
    position: absolute;
    left: 44%;
    bottom: 90px;
    z-index: 100;
    width: 160px;
    height: 20px;
    text-align: center;
}

.slider-controls i {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 50%;
}

.slider-controls i:hover {
    background-color: red;
}

.slider-controls .active::after {
    position: absolute;
    content: "";
    background-color: whitesmoke;
    width: 6px;
    height: 6px;
    border: 2px solid grey;
    border-radius: 50%;
    left: 24%;
    top: 25%;
}

.slide-item h2 {
    padding-top: 80px;
    padding-bottom: 10px;
}

.slide-item p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.slide-item .button {
    display: flex;
    width: 240px;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.slide-item {
    min-height: 430px;
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slide-item:nth-child(1) {
    background-image: url("img/slide1.png");
    display: block;
}

.slide-item:nth-child(2) {
    background-image: url("img/slide2.png");
    display: none;
}

.slide-item:nth-child(3) {
    background-image: url("img/slide3.png");
    display: none;
}

.types {
    margin-bottom: 120px;
}

.type-list {
    display: flex;
    justify-content: space-between;
}

.type-item {
    width: 300px;
}

.type-item:last-child {
    margin-right: 60px;
}

.type-item .button {
    padding: 20px 40px;
    width: 160px;
    box-sizing: border-box;
}

.mobile {
    background-color: #00ca74;
}

.mobile:hover {
    background-color: #00bc6c;
}

.mobile:active {
    background-color: #00aa62;
    color: #4dc491;
}

.presentation {
    background-color: #efc84a;
}

.presentation:hover {
    background-color: #eab534;
}

.presentation:active {
    background-color: #e5a722;
    color: #edc265;
}

.about-us {
    display: flex;
    margin-bottom: 135px;
}

.about-us h4 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.describtion {
    width: 660px;
    margin-right: 140px;
    ;
}

.work-item {
    padding: 12px 38px;
    position: relative;
}

.work-item::before {
    content: "";
    position: absolute;
    background-color: #fb565a;
    width: 25px;
    height: 2px;
    top: 22px;
    left: 0;
}

.percents {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.percents li {
    width: 100px;
}

.percents h2 {
    font-size: 45px;
    line-height: 10px;
    margin-bottom: 25px;
}

.percents span {
    font-size: 24px;
    font-weight: 700;
    vertical-align: super;
}

.friends {
    margin-bottom: 120px;
}

.friends-list {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-logo img {
    opacity: 0.3;
}

.friend-logo img:hover {
    opacity: 1;
}

.friend-logo:last-child {
    margin-right: 15px;
}


.social {
    position: relative;
    width: 1440px;
    height: 418px;
    background-image: url("img/map.png");
}

.contacts {
    padding-left: 50px;
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    min-height: 290px;
    background-color: #fff;
    top: 55px;
    left: 140px;
    text-align: left;
}

.contacts .button {
    font-size: 16px;
    width: 220px;
    height: 50px;
    padding: 17px 40px;
    box-sizing: border-box;
}

.marker {
    position: absolute;
    bottom: 140px;
    right: 390px;
}

.main-footer {
    padding: 45px 140px 70px 140px;
    display: flex;
    align-items: center;
}

.social-nets {
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.social-nets-item {
    display: flex;
    width: 80px;
    height: 80px;
    background-color: lightgray;
    border-radius: 50px;
    justify-content: center;
    vertical-align: middle;
}

.social-nets-item:hover {
    background-color: #e74246;
}

.social-nets-item img {
    text-align: center;
}

.bonus {
    width: 560px;
    text-align: left;
    margin-left: 140px;
}

.bonus h2 {
    font-size: 36px;
    line-height: 36px;
}

.visually-hidden {
    display: none;
}

.modal-show {
    display: block;
}

.modal {
    background-color: #fff;
    position: fixed;
    left: 25%;
    bottom: 180px;
    outline: 2px solid black;
    width: 960px;
    box-sizing: border-box;
    padding: 75px 100px 85px 100px;
}

.modal h2 {
    position: relative;
    font-size: 45px;
    line-height: 45px;
}

.modal h2::after {
    position: absolute;
    top: 5px;
    right: -10px;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("svg/close-cross.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.modal h2:hover::after {
    opacity: 1;
}

.modal-form {
    margin-top: 25px;
    ;
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-form input[type="text"],
.modal-form input[type="email"] {
    border-radius: 3px;
    border: 2px solid lightgray;
    width: 360px;
    min-height: 50px;
    margin-top: 10px;
}

#textarea-field {
    border-radius: 3px;
    margin-top: 10px;
    min-height: 120px;
    border: 2px solid lightgray;
    width: 755px;
}

#textarea-field:hover,
.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover {
    border: 2px solid lightgray;
}

#textarea-field:focus,
.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus {
    border: 2px solid black;
}

.filter {
    width: 260px;
    margin-right: 140px;
}

.catalog-wrapper {
    display: flex;
}

.sort {
    width: 780px;
}

.examples {
    width: 760px;
    display: flex;
    flex-wrap: wrap;
}

.example-item {
    margin-bottom: 75px;
}

.example-item:nth-child(5),
.example-item:nth-child(6) {
    margin-bottom: 10px;
}

.example-item:nth-child(odd) {
    margin-right: 40px;
}

.sort-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.sort-options {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.sort-title span {
    text-transform: uppercase;
}

.catalog-title {
    margin-bottom: 180px;
    text-align: center;
}

.fieldset-item {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 240px;
    margin-top: 49px;
}

legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    padding-top: 39px;
    height: 41px;
    background-color: lightgrey;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.range-controls .scale {
    height: 2px;
    background-color: lightgray;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: green;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: gray;
    border: 8px solid #ffffff;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    font-size: 16px;
    text-align: center;
    color: #283136;
    width: 60px;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background: #f1f1f1;
    margin-left: 10px;
}

.max-price {
    text-align: right;
}

fieldset {
    border: none;
}

.features-item,
.net-item {
    position: relative;
    margin-bottom: 25px;
    padding-left: 35px;
    ;
}

.net-item::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    border: 5px solid #a6a6a6;
    border-radius: 50px;
}

.radio:checked+label::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: 10px;
    top: 10px;
    background-color: #a6a6a6;
    border-radius: 50px;
}

.features-item::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    border: 2px solid #a6a6a6;
    border-radius: 3px;
}

.checker:checked+label::after,
.checker:checked+label::before {
    position: absolute;
    content: "";
    height: 5px;
    background-color: #a6a6a6;
}

.checker:checked+label::before {
    width: 12px;
    left: 3px;
    top: 9px;
    transform: rotate(45deg);
}

.checker:checked+label::after {
    width: 25px;
    left: 8px;
    top: 6px;
    transform: rotate(-45deg);
}

.submit-button {
    width: 260px;
    box-sizing: border-box;
    background-color: lightgray;
    color: black;
    font-weight: 700;
}

.submit-button:hover {
    color: white;
}

.net legend,
.features legend {
    margin-bottom: 20px;
}

.pagination {
    margin: 60px auto;
    margin-bottom: 60px;
    height: 50px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.pagination-list {
    width: 172px;
    display: flex;
    justify-content: space-between;
}

.pagination-item {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-page {
    border: 3px solid lightgray;
    border-radius: 5px;
}

.pagination-button {
    width: 120px;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;

}